@import "tailwindcss";
@plugin "daisyui";

a.active {
  color: #3b8132;
  text-decoration: underline;
}
.swiper-button-prev,
.swiper-button-next {
  color: #166534;
}

.swiper-wrapper {
  transition-timing-function: linear;
}
